/RemoteConsole/bin/Debug/RemoteConsole.dll
/RemoteConsole/bin/Debug/RemoteConsole.dll.mdb
/RemoteConsole/bin/Debug/RemoteConsole.exe
/RemoteConsole/bin/Debug/RemoteConsole.exe.mdb
/RemoteConsole.userprefs
